.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.container {
  max-width: 1060px;
  margin-left: 20px;
  margin-right: 20px;
}

.main {
  background-image: url(../img/bg-main.png);
  z-index: -1;
  height: 800px;
  background-position: center;
  background-size: cover;
  top: 0;
  padding-left: 210px;
}
.main__container-text {
  font-size: 56px;
  font-weight: 900;
  color: #fff;
  max-width: 583px;
  padding-top: 280px;
  padding-bottom: 48px;
}
.main__container-btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 15px 25px;
  background-color: #F2726F;
  border-radius: 9px;
  border: none;
}

.about__wrap {
  height: 700px;
  border-radius: 40px;
  background-color: #5D62B5;
  margin-top: -80px;
  position: relative;
  width: 1020px;
  left: 300px;
}
.about__dots {
  position: absolute;
  top: -110px;
  right: -70px;
}
.about__dog {
  border-radius: 40px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -120px;
  z-index: 2;
}
.about__blob {
  position: absolute;
  bottom: -160px;
  z-index: 1;
}
.about__title {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 87px;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  word-spacing: 2.5px;
  text-transform: uppercase;
}
.about__text1 {
  padding-left: 87px;
}
.about__text2 {
  font-weight: 900;
  max-width: 583px;
  font-size: 36px;
  color: #fff;
  padding-top: 33px;
  padding-bottom: 36px;
}
.about__text3 {
  max-width: 846px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

.cards {
  padding-right: 210px;
  padding-left: 210px;
  padding-top: 110px;
}
.cards__title {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  color: #5D62B5;
  word-spacing: 2.5px;
  text-transform: uppercase;
  padding-bottom: 33px;
}
.cards__title1 {
  font-weight: 900;
  font-size: 36px;
}
.cards__blocks {
  padding-top: 68px;
  flex-direction: row;
  display: flex;
}
.cards__block-title {
  font-weight: 900;
  font-size: 19px;
  color: #F2726F;
  padding-bottom: 20px;
}
.cards__block-text {
  max-width: 235px;
}
.cards__block-img {
  top: -25px;
  right: 16px;
  position: relative;
}
.cards__block1 {
  padding-left: 110px;
}
.cards__block-img1 {
  top: -25px;
  right: -80px;
  position: relative;
}
.cards__blocks {
  padding-bottom: 122px;
}

.dog-with-ball {
  height: 500px;
  padding-right: 210px;
  background-color: #29C3BE;
}
.dog-with-ball__text {
  display: flex;
  float: right;
  flex-direction: column;
}
.dog-with-ball__text-btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  padding: 15px 25px;
  background-color: #F2726F;
  border-radius: 9px;
  border: none;
  max-width: 210px;
  position: relative;
  bottom: -124px;
  z-index: 4;
}
.dog-with-ball__text-title {
  padding-bottom: 42px;
  font-size: 36px;
  max-width: 411px;
  color: #fff;
  position: relative;
  bottom: -136px;
  z-index: 4;
}
.dog-with-ball__blob {
  z-index: 1;
  position: absolute;
}
.dog-with-ball__dots {
  z-index: 0;
  position: absolute;
}
.dog-with-ball__dog {
  z-index: 2;
  position: absolute;
}
.dog-with-ball__ball {
  z-index: 3;
  position: absolute;
  left: 694px;
}